html {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: auto 0;
}
header {
    text-align: center;
    margin: -18px auto;
    font-family: 'Shrikhand', cursive;
    font-weight: 300;
}

.place {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}
.place > p {
    margin-left: 10px;
}
.reservation {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b3b3b3;
    height: 280px;
}
.reservation > h2 {
    max-width: 240px;
    margin-top: 40px;
   
}
.reservation > p {
    max-width: 300px;
    margin-top: -10px;
}
.buttonExplore {
    margin-top: 30px;
}
.square_btn {
    padding: 12px 16px;
	border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(-5deg, #9356DC 25%, #FF79DA 100%);
    box-shadow: 1px 1px 8px black;
}
footer {
    color: white;
    background: #303030;
    padding: 20px;
}
footer > a {
    text-decoration: none;
    color: white;
}
footer > h4 {
    font-family: 'Shrikhand', cursive;
    font-weight: 300; 
}
.fa-utensils  {
    margin-right: 14px;
}
.fa-hands-helping {
    font-size: small;
    margin-right: 10px;
}
.restaurantsWrapper {
    background-color: #b3b3b3;
    height: 1500px;
}
.runWrapper {
    background-color: #b3b3b3;
    border-radius: 15px;
    margin: 20px 10px;
    height: 60px;
    box-shadow: 1px 1px 6px;
}
.numero {
    background-color: blueviolet;
    border-radius: 35px;
    width: 20px;
    margin-right: 10px;
}
.running {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menuRestaurants {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(110, 110, 110);
    width: 92%;
    margin: 30px auto;
}
.menuRestaurants img {
    height: 250px;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.menuRestaurants a {
    text-decoration: none;
}
.descriptionMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.descriptionWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}