html {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: auto 0;
}
header {
    text-align: center;
    margin: -13px auto;
    font-family: 'Shrikhand', cursive;
    
}
a {
    text-decoration: none;
    color: black;
}

.place {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d3d3d3;
}
.place > p {
    margin-left: 10px;
}
.reservation {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    height: 280px;
}
.reservation > h2 {
    max-width: 240px;
    margin-top: 40px;
    font-weight: bold;
}
.reservation > p {
    max-width: 300px;
    margin-top: -10px;
}
.fTitle {
    margin-left: 15px;
    margin-top: 40px;
    font-weight: bold;
}
#restaurants {
    margin-left: 15px;
    font-weight: bold;
}
.buttonExplore {
    margin-top: 30px;
}
.square_btn {
    padding: 12px 16px;
	border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(-5deg, #9356DC 25%, #FF79DA 100%);
    box-shadow: 1px 1px 4px black;
}
.square_btn:hover {
    box-shadow: 1px 1px 12px black;
    background-image: linear-gradient(-5deg, #af6efd 25%, #fcade5 100%);
}
footer {
    color: white;
    background: #303030;
    padding: 20px;
}
footer > a {
    text-decoration: none;
    color: white;
}
footer > h4 {
    font-family: 'Shrikhand', cursive;
    font-weight: 300; 
}
.fa-utensils  {
    margin-right: 14px;
}
.fa-hands-helping {
    font-size: small;
    margin-right: 10px;
}
.fa-store {
    color: #9356DC !important;
}
.backgroundRestaurants {
    background-color: #F2F2F2;
    height: 1130px;
    margin-top: 60px;
    display: flow-root;
}
.restaurantsWrapper {
   margin-top: 45px; 
}
.runWrapper {
    background-color: #F2F2F2;
    border-radius: 15px;
    margin: 22px 25px;
    height: 70px;
    box-shadow: 3px 2px 7px #d3d3d3;
}
.runWrapperStore {
    background-color: #EDD4FF;
    border-radius: 15px;
    margin: 22px 25px;
    height: 70px;
    box-shadow: 3px 2px 7px #d3d3d3;
}

.numero {
    background-color: #9356DC;
    border-radius: 25px;
    width: 21px;
    padding: 4px;
}
.numero > p {
    margin: 0 6px;
    color: white;
}
.running {
    display: flex;
    align-items: center;
    height: 70px;
    margin-left: -15px;
}
.fa-mobile-alt, .fa-list-ul, .fa-store {
    margin: auto 20px;
    font-size: large;
    color: rgb(100, 100, 100);
}
.menuRestaurants {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(110, 110, 110);
    width: 91%;
    margin: 30px auto;
}
.menuRestaurants img {
    height: 150px;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.descriptionMenu {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-bottom: 13px;
}
h4 {
    margin-bottom: 5px;
    margin-top: 12px;
}

.descriptionWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heart {
    margin-right: 25px;
    font-size: 24px;
    font-weight: 100 !important;
    height: 35px;
}

.news {
    position: absolute;
    margin-left: 240px;
    background-color: #99E2D0;
    color:  rgb(33, 110, 63);
    padding: 5px;
    border-radius: 3px;
    margin-top: 15px;
    width: 80px;
    text-align: center;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
.news {
    margin-left: 570px;
}
    }
@media only screen and (min-device-width : 1024px) {
.restaurantsWrapper {
    display: flex;
    flex-wrap: nowrap;
    margin: 20px 20px;
    justify-content: space-between;
    }
.menuRestaurants {
    margin: 15px 50px;
}
.backgroundRestaurants {
    height: 390px;
}   
}