html {
    font-family: 'Roboto', sans-serif;
}
header {
    text-align: center;
    margin: -18px auto;
}
.fa-arrow-left {
    color: black;
    text-decoration: none;
    float: left;
    font-size: x-large;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: -35px;
}
h1, h2, h4 {
    font-family: 'Shrikhand', cursive;
    font-weight: 300;
}
.far.fa-heart {
    font-size: 130%;
    margin-right: 25px;
    font-weight: 300;
}

h3 {
    margin-left: 15px;
    margin-top: 50px;
    font-weight: 100;
    text-transform: uppercase;
    font-size: medium;
    text-decoration: underline solid #99E2D0 3px;
    text-underline-position: under; 
       
}
body {
    margin: auto 0;
}
.imgMenuFr {
    background-image: url("/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    height: 275px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.imgMenuNe {
    background-image: url("/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    height: 275px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.imgMenuPg {
    background-image: url("/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    height: 275px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.imgMenuDs {
    background-image: url("/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    height: 275px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.menu {
    background-color: #F2F2F2;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin-top: -56px;
    height: 1200px;
}
.headerMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -50px 15px;
}
.headerMain > h2 {
    margin-top: 25px;
    font-size: 175%;
}
.menuCard {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 12px;
    box-shadow: 0px 0px 15px #b3b3b3;
}
footer {
    color: white;
    background: #303030;
    padding: 20px;
}
.underDerscription {
    font-size: 90%;
}
.textCard {
    font-size: 110%;
    margin-bottom: 8px;
}
.square_btn {
    padding: 12px 40px;
	border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(-5deg, #9356DC 25%, #FF79DA 100%);
    box-shadow: 1px 1px 4px black;
}
.square_btn:hover {
    box-shadow: 1px 1px 12px black;
    background-image: linear-gradient(-5deg, #af6efd 25%, #fcade5 100%);
}
.buttonOrder {
    display: flex;
    justify-content: center;
    margin: 60px auto;
}

footer > a {
    text-decoration: none;
    color: white;
}
.fa-utensils  {
    margin-right: 14px;
}
.fa-hands-helping {
    font-size: small;
    margin-right: 10px;
}