html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: auto 0;
}
footer {
    color: white;
    background: #303030;
    padding: 20px;
}
footer > h4 {
    font-family: 'Shrikhand', cursive;
}